/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSlider {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
	z-index: 0;
}

.anythingSlider .wrapper {
	width: 100%;
	overflow: auto;
	height: 340px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

/* Width below is max for Opera */
.anythingSlider .wrapper ul {
	width: 32700px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	margin: 0;
}

.anythingSlider .wrapper ul li {
	display: block;
	float: left;
	padding: 0;
	height: 340px;
	width: 1397px;
	margin: 0;
}

.anythingSlider .arrow {
	display: block;
	height: 180px;
	width: 30px;
	background: url(../images/arrows.png) no-repeat 0 0;
	text-indent: -9999px;
	position: absolute;
	top: 0;
	cursor: pointer;
}

.anythingSlider .forward {
	background-position: 0 0;
	right: 0;
}

.anythingSlider .back {
	background-position: -30px 0;
	left: 0;
}

.anythingSlider .forward:hover {
	background-position: 0 -295px;
}

.anythingSlider .back:hover {
	background-position: -30px -295px;
}

.thumbNav {
	position: relative;
	top: 10px;
	left: 230px;
	width: 25px;
}

.thumbNav li {
	display: block;
}

.thumbNav a {
	display: block;
	margin-bottom: 10px;
	width: 23px;
	height: 23px;
	text-align: center;
	background-color: #FFFFFF;
	color: #a42339;
	font-family: 'AllerBold';
	font-size: 18px;
	clear: both;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.thumbNav a:hover {
	background-color: #cdcdcd;
}

.thumbNav a.cur {
	background-color: #a42339;
	color: #f2f2f2
}

.start-stop {
	display: none;
	z-index: 0;
	background: green;
	background-repeat: repeat-x;
	color: white;
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	position: absolute;
	right: 45px;
	top: 323px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
        /*
           background-image: url(../images/cellshade.png); 
        */


.start-stop.playing {
	background-color: red;
}

.start-stop:hover {
	background-image: none;
}

/*
  Prevents
*/
.anythingSlider .wrapper ul ul {
	position: static;
	margin: 0;
	background: none;
	overflow: visible;
	width: auto;
	border: 0;
}

.anythingSlider .wrapper ul ul li {
	float: none;
	height: auto;
	width: auto;
	background: none;
}

.textSlide {
	margin: 0 auto;
	width: 1397px;
	height: 340px;
}

.textSlide .caja_texto {
	margin-left: 265px;
	display: block;
	float: left;
	width: 280px !important;
	width: 320px;
	width /**/: /**/ 280px;
	clear: both;
	padding: 20px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: url(../images/bkg_caja_texto_slider_home.png) left bottom
		repeat;
}

.textSlide .caja_texto .titulo {
	
}

.textSlide .caja_texto .titulo h2,.textSlide .caja_texto .titulo h2 a {
	color: #fea501;
	font-family: 'LatinModernRoman10Bold';
	font-size: 1.3em;
	line-height: 1em;
	margin-bottom: 10px;
}

.textSlide .caja_texto .titulo h2 a:hover {
	color: #a42339;
}

.textSlide .caja_texto .titulo p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 1.3em;
}

.textSlide .caja_texto .titulo .buttons {
	
}

.textSlide .caja_texto .titulo .buttons ul li {
	float: left;
}

.textSlide .caja_texto .titulo .buttons ul li a {
	font-family: 'AllerBold';
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	font-size: .8em
}

.textSlide .caja_texto .titulo .buttons ul li a:hover {
	text-decoration: underline
}

.textSlide .caja_texto .titulo .buttons ul li span {
	font-family: 'AllerBold';
	text-transform: uppercase;
	color: #a42339;
	text-decoration: none;
	font-size: 1.1em
}
